<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <title>Black Friday en Mercado Liebre</title>
  <link href="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.21.22/mercadolibre/favicon.svg"
    rel="icon" data-head-react="true" />
</head>
<body>
  <header class="header">
    <div class="wrapper">
      <div class="header-content">
        <div class="header_first">
          <div class="logo-search">
            <a href="./" class="logo-page">
              <img src="../public/image/logo-mercado-liebre.svg" alt="logo">
            </a>
            <div class="search">
              <div class="input">
                <input type="text" placeholder="Busca todo lo que quieras y más...">
              </div>
              <div class="i">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
          </div>
          <div class="header-compraCuotas">
            <a href="#"><i class="fa-solid fa-hand-holding-heart"></i> Compra en cuotas y sin tarjeta de credito</a>
          </div>
        </div>
        <nav class="menu">
          <ul class="menu_items">
            <ul class="links">
              <li class="menu_item"><a href="#">Ofertas</a></li>
              <li class="menu_item"><a href="#">Tienda Oficial</a></li>
              <li class="menu_item"><a href="#">Vender</a></li>
              <li class="menu_item"><a href="#">Ayuda</a></li>
            </ul>
            <ul class="acces">
              <li class="menu_item"><a href="./register">Crea tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
              <li class="menu_item"><a href="./login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
              <li class="menu_item"><a href="#">Mis compras <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>

          </ul>
          <div class="burguer-menu">
            <i class="fa-solid fa-bars"></i>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <div class="banner">
    <img src="../public/image/img-home-banner.jpg" alt="banner-home">
  </div>
  <main class="main">
    <div class="wrapper">
      <section class="main_productos_vistoUltimo">
        <h3>Basado en tu ultima visita</h3>
        <div class="card-container">
          <div class="card_product">
            <img src="../public/image/img-cafetera-moulinex.jpg" alt="Cafetera">
            <div class="description_card">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-details">
                <span class="precio">$6.770</span>
                <span class="descuento">40% OFF</span>
              </div>
              <h4 class="description_product">Cafetera Moulinex</h4>
            </div>
          </div>
          <div class="card_product">
            <img src="../public/image/img-macbook-pro-2019.jpg" alt="Cafetera">
            <div class="description_card">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-details">
                <span class="precio">$230.000</span>
                <span class="descuento">20% off</span>
              </div>
              <h4 class="description_product">MacBook Pro 2019</h4>
            </div>
          </div>
          <div class="card_product">
            <img src="../public/image/img-samsung-galaxy-s10.jpg" alt="Cafetera">
            <div class="description_card">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-details">
                <span class="precio">$70.500</span>
                <span class="descuento">10% off</span>
              </div>
              <h4 class="description_product">Samsung Galaxy S10</h4>
            </div>
          </div>
          <div class="card_product">
            <img src="../public/image/img-tv-samsung-smart.jpg" alt="Cafetera">
            <div class="description_card">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-details">
                <span class="precio">$23.200</span>
                <span class="descuento">5% off</span>
              </div>
              <h4 class="description_product">SmartTv Samsung 43"</h4>
            </div>
          </div>
        </div>
      </section>
      <section class="main_productos_ofertas">
        <h3>Ofertas</h3>
        <div class="card-container">
          <div class="card_product">
            <img src="../public/image/img-cafetera-moulinex.jpg" alt="Cafetera">
            <div class="description_card">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-details">
                <span class="precio">$6.770</span>
                <span class="descuento">40% OFF</span>
              </div>
              <h4 class="description_product">Cafetera Moulinex</h4>
            </div>
          </div>
          <div class="card_product">
            <img src="../public/image/img-macbook-pro-2019.jpg" alt="Cafetera">
            <div class="description_card">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-details">
                <span class="precio">$230.000</span>
                <span class="descuento">20% off</span>
              </div>
              <h4 class="description_product">MacBook Pro 2019</h4>
            </div>
          </div>
          <div class="card_product">
            <img src="../public/image/img-samsung-galaxy-s10.jpg" alt="Cafetera">
            <div class="description_card">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-details">
                <span class="precio">$70.500</span>
                <span class="descuento">10% off</span>
              </div>
              <h4 class="description_product">Samsung Galaxy S10</h4>
            </div>
          </div>
          <div class="card_product">
            <img src="../public/image/img-tv-samsung-smart.jpg" alt="Cafetera">
            <div class="description_card">
              <i class="fa-solid fa-truck-fast"></i>
              <div class="price-details">
                <span class="precio">$23.200</span>
                <span class="descuento">5% off</span>
              </div>
              <h4 class="description_product">SmartTv Samsung 43"</h4>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  <footer class="footer">
    <div class="wrapper">
      <div class="footer-container">
        <div class="f-pago_tarjeta footer-sections">
          <i class="fa-solid fa-credit-card"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="f-envio_gratis footer-sections">
          <i class="fa-solid fa-gift"></i>
          <h3>Envío gratis desde $ 2.500</h3>
          <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="f-seguridad footer-sections">
          <i class="fa-solid fa-user-shield"></i>
          <h3>Seguridad, de principio a fin</h3>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
      </div>
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
  </footer>
</body>
</html>