:root {
  --amarillo: #EAC926;
  --azul:#03264C;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
  --blanco: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background-color: var(--amarillo);
}

/* HEADER */
.header {
  padding: 16px;
  /* border: 1px solid red; */
}

.header_first{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header_first img{
  width: 30%;
}

.logo-search {
  display: flex;
  gap: 16px;
}

.search {
  width: 100%;
  padding: 16px 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #ccc;
}

.header_first a {
  text-decoration: none;
  text-align: center;
  color: #414141;
}

.menu{
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.menu_items{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.menu_item{
  list-style: none;
  background-color: var(--blanco);
  padding: 16px 8px;
  border-radius: 8px;
}

.menu_item a{
  text-decoration: none;
  color: #414141;
}

.burguer-menu {
  background-color: var(--azul);
  padding: 8px;
  border-radius: 4px;
}

.burguer-menu i {
  color: var(--blanco);
  font-size: 24px;
}

/* MAIN */
.main{
  padding: 16px;
  background-color: var(--gris-claro);
}

.main_productos_vistoUltimo, .main_productos_ofertas {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 16px;
}

.main_productos_ofertas h3 {
  font-size: 24px;
}

.main_productos_vistoUltimo h3 {
  font-size: 24px;
}

.card_product {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--blanco);
}

.description_card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: 1px solid var(--gris-claro);
  position: relative;
}

.description_card i {
  margin-top: 8px;
  color: var(--verde);
  border: 1px solid var(--verde);
  padding: 10px 8px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -28px;
}

.card_product img {
  width: 80%;
}

.price-details {
  display: flex;
  gap: 16px;
  padding-top: 16px;
}

.precio {
  font-size: 18px;
}

.descuento {
  font-size: 16px;
  color: var(--verde);
}

/* FOOTER */
.footer{
  padding: 16px;
  background-color: var(--blanco);
}

.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 16px;
}

.footer div i {
  font-size: 2em;
  margin-bottom: 10px;
}

.footer div p {
  font-size: 12px;
}

.copyright {
  margin-top: 32px;
  text-align: center;
}

@media (min-width : 361px) {
  .description_product {
    display: none;
  }

  .menu_items {
    display: none;
  }
}

@media (min-width : 769px) {
  .menu_items {
    display: flex;
  }

  .description_product {
    display: block;
  }

  .card_product {
    box-shadow: 0px 0px 10px rgb(100, 100, 100) ;
  }
}
